/* Base */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.contentWrapper {
  display: flex;
  height: calc(100vh - 44px);
  width: 100%;
  flex-wrap: wrap;
}

/* Common */
.card {
  border: 1px solid #6c6c6c;
  box-shadow: 3px 3px 2px #bdbebe;
  padding: 16px;
  background: #fefefe;
}

/* Navigation */
.navigation {
  display: flex;
  width: 100%;
  gap: 0px;
}
.navigation a {
  text-decoration: none;
  padding: 12px 12px;
  color: #010101;
}
.navigation a:first-child {
  text-decoration: none;
  padding: 12px 12px;
  color: #31bacd;
}
.navigation a:hover {
  text-decoration: solid;
  color: #fc7b54;
}

/* home page */
.homepage {
  display: flex;
  width: 100%;
}
.homepage .header {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  height: calc(100vh - 44px);
}
.homepage h1 {
  text-align: center;
  flex: 1;
  font-size: 80px;
}
.homepage .codingImg {
  flex: 1;
  height: 100%;
  background-image: url(../public/homePage.jpg);
  background-size: cover;
  background-position: 50%;
}

/* Resume */
.resume {
  padding: 70px 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 954px;
  width: 715px;
  margin: 20px auto;
}
.resumeHeader {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
}
.resumeHeader h1 {
  font-size: 56px;
  margin: 0px;
  line-height: 50px;
}
.resumeHeader p {
  margin: 4px 0px;
  font-size: 14px;
}
.resumeLeft {
  width: 460px;
  margin-right: 36px; 
}
.resumeRight {
  width: 219px;
}
.resumeSectionHeader {
  font-size: 14px;
  margin-bottom: 4px;
}
.resumeExperiencePosition {
  padding: 4px 0px 12px;
}
.resumeExperienceTitle {
  font-size: 17px;
}
.resumeExperienceDate {
  margin: 8px 0;
  font-size: 11px;
}
.resumeExperienceDetails {
  font-size: 14px;
}
.resumeSkillPosition {
  font-size: 14px;
  padding: 12px 0;
}
.reachMe {
  font-size: 14px;
}
/* Colors */
.black {
  color: #010101;
}
.borBlack {
  border: 1px solid #010101;
}

.white {
  color: #fefefe;
}
.bgWhite {
  background-color: #fefefe;
}

.purple {
  color: #902bf5;
}
.bgPurple {
  background-color: #902bf5
}

.coral {
  color: #fc7b54;
}

.silver {
  color: #bdbebe;
}

.gray {
  color: #6c6c6c;
}
.borRightGray {
  border-right: 1px solid #6c6c6c;
}
.borBottomGray {
  border-bottom: 1px solid #6c6c6c;
}

.dark-purple {
  color: #1a1463;
}
.bgDark-purple {
  background-color: #1a1463;
}

.blue {
  color: #31bacd;
}

.pink {
  color: #f361fb;
}